@charset "UTF_8";

.inblock {display:inline-block;}
.clear{clear:both;margin:0px;padding:0px;}
.clear_margin{clear:both;margin:1px 0px}
.txt_tp{vertical-align:top;}
.txt_toolong{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.mid_center{text-align:center;vertical-align:middle;} /** 子物体-居中 **/
.left_center{text-align:left;vertical-align:middle;} /** 子物体-靠左居中 **/
.abs_mid{position: absolute;left:50%;top:50%;transform: translate(-50%, -50%);/*50%为自身尺寸的一半,自身居中 */ }

.mg_t15{ margin-top:15px; }
.mg_t15_auto{ margin:15px auto 0px auto; }
.mh_40{ min-height:40px; }
.mw_60{ min-width:60px; }
.mw_40{ min-width:40px; }
.w_p94{ width:94%; }
.w_p40{ width:40%; }
.w_p35{ width:35%; }

#div_wrap{margin:0 auto;min-width:1160px;min-height:400px;}
#div_content{position:relative;left:0px;top:0px;min-width:1160px;height:100%;}

#lock{
	position: absolute;top:0px;left:0px;width:100%;height:100%;display:none;
	opacity:0.7;filter:alpha(opacity=70);background: #000000;
	z-index: 1000;
}

.fnt_fs12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
.col_036{ color: #003366; }
.col_333{ color: #333333; }
.fs_14{ font-size: 14px; }
.fw_bold{ font-weight: bold; }